.container-item1 {
  grid-row: 1;
  display: grid;
}

.titlegrid-soegeside {
  grid-column: 1;
}

/* search */

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  margin-left: .4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

.searchgrid {
  display: grid;
  grid-template-columns: 6fr 1fr;
  width: 80%;
  height: 45px;
  background: #7c5a74;
  place-self: center;
  margin-bottom: 50px;
}

.magnifyingglassitem {
  grid-column: 2;
  grid-row: 1;
  place-self: center;
  display: grid;
}

.magnifyingglass {
  width: 20px;
  height: auto;
}

.searchstyle {
  border: 0;
  grid-column: 1;
  grid-row: 1;
  color: var(--white);
  background: #7c5a74;
}

.searchstyle:focus-visible {
  outline: 0;
}

.borderitem {
  outline: 2px solid var(--grey);
  grid-row: 1;
  grid-column: 1/span 2;
  z-index: -1;
}