/* font */

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.font18 {
  font-size: 18px;
}

.font24 {
  font-size: 24px;
}

.font36 {
  font-size: 36px;
}

/* colors */

* {
  --white: #EAEAEA;
  --purple: #5E2E53;
  --pink: #E1A1E9;
  --black: #000000;
}


.mainbg {
  background: var(--purple);
}