/* logo font */

/* .logo-font {
  font-family: 'Roboto', sans-serif;
  font-family: 'Racing Sans One', cursive;
} */

.testclass {
  background: blue;
}


.placementgrid {
  grid-row: 2;
  grid-column: 1;
  z-index: 3;
  display: grid;
  align-items: center;
  grid-template-rows: 43px 38px 43px;
}

/* local */

.hero1-h2-hr {
  background: var(--purple);
  display: inline-block;
  margin: 0;
}

hr {
  width: 236px;
  height: 18px;
  flex-basis: auto;
  margin-top: 17px;
  outline: 0;
  border: 0;
}

/* container1 */

.hero1 {
  height: 100vh;
  overflow: clip;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 52% 29% auto;
}

.hero1-h1 {
  font-family: 'Roboto', sans-serif;
  color: transparent;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  align-self: end;
  margin-left: 36px;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #431567;
}

.hero1-h2 {
  grid-row: 2;
  grid-column: 1;
  z-index: 1;
  margin: 0;
}

.hero1-h2-span {
  /* font-family: 'Racing Sans One', cursive; */
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 50px;
  flex-basis: 350px;
  color: #e856eb;
  font-style: italic;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #431567;
  margin-left: 36px;
}

.bg-top {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  grid-row: 1/span 3;
  grid-column: 1;
}

/* container2 */

.hero2 {
  height: 426px;
  overflow: clip;
  display: grid;
  grid-template-rows: 5fr 3fr 8fr;
}

.hero2-img {
  object-fit: cover;
  width: 100%;
  height: 445px;
  max-height: 823px;
  grid-row: 1/span 3;
  grid-column: 1;
}

.hero2-link {
  background: var(--purple);
  color: var(--white);
  grid-row: 3;
  grid-column: 1;
  width: auto;
  height: auto;
  place-self: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 12px;
  text-decoration: none;
  z-index: 2;
}